body{
	font-family: poppins;
	background-image: url(https://stmed.net/sites/default/files/turquoise-black-wallpapers-25327-1341092.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

header .carousel-inner .item{
	height: 100vh;
}
header .navbar-inverse{
	background-color: transparent;
	border-color: transparent;
	font-weight: bold;
	font-size: 15px;
	height: 20px;
	top: 2%;
}

.navbar-inverse .navbar-brand{
	color: #fff;
	font-size: 40px;
	padding: 0px 15px;
	font-weight: 900;
}

.nav .navbar-nav .navbar-right{
	margin: 250px 0;
}

.nav .navbar-nav .navbar-right .active{
	background-color: none;
	background-image: none;
}

.navbar-inverse .navbar-nav > li > a{
	color: #fff;
	text-transform: uppercase;
	background-color: transparent;
}

ul.dropdown-menu{
	color: #fff;
	background-color: transparent;
	font-weight: bold;
	
}
ul.dropdown-menu >li>a:hover{
	color: #fff;
	background-color: transparent;
	background-image: none; 
	font-weight: bold;
}

.banner{
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
}

.carousel-caption{
	padding-bottom: 250px;
	font-family: poppins;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption h2{
	font-size: 75px;
	text-transform: ;
	font-weight: bold;
}

.carousel-caption h2 span{
	color:yellow;
	font-style: italic;
}

.carousel-caption a{
	padding: 10px 20px;
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 25px;
	
}

.carousel-caption a:hover{
	opacity: 0.9;
	color: white;

}
