body{
	font-family: poppins;
	background-image: url(https://stmed.net/sites/default/files/turquoise-black-wallpapers-25327-1341092.jpg);
}

header .carousel-inner .item{
	height: 100vh;
}
.container .navbar-default{
	background-color: transparent;
	border-color: transparent;
	font-weight: bold;
}

.navbar-default .navbar-brand{
	color: #fff;
	font-size: 40px;
	padding: 40px 15px;
	font-weight: 900;
}

.nav .navbar-nav .navbar-right{
	margin: 25px 0;
}

.navbar .navbar-nav > li > a{
	color: #fff;
	text-transform: uppercase;
}

.banner{
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.carousel-caption{
	padding-bottom: 250px;
	font-family: poppins;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption h2{
	font-size: 70px;
	text-transform: ;
	font-weight: bold;
}

.carousel-caption h2 span{
	color:yellow;
	font-style: italic;
}

.carousel-caption a{
	background:#edbb00;
	padding: 15px 35px;
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 25px;
}
